<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Novo Administrador</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h1>Novo Produto</h1>
<form action="#" th:action="@{/produto}" th:object="${produto}" method="post">
    <label>Nome: </label>
    <input type="text" th:field="*{nome}" />

    <label>Tipo:</label>
    <input type="text" th:field="*{tipo}"  />

    <label>Classificação:</label>
    <input type="text" th:field="*{classificacao}"  />

    <label>Tamanho:</label>
    <input type="number" th:field="*{tamanho}"  />

    <label>Preço:</label>
    <input type="number" th:field="*{preco}"  />
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>
