<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header class="page-header">
        <h1>Acessar sua Conta</h1>
    </header>

    <main>
        <div class="card">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Usuário ou Email:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Digite seu usuário" required autofocus/>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" required/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <p class="text-center">Não tem uma conta? <a th:href="@{/register}">Registre-se aqui</a>.</p>
        </div>
    </main>
</div>
</body>
</html>